/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}
.mb-2 {
  margin-bottom: 5em;
}
header {
  background-color: white;
}
header .logo-text {
  font-size: xx-large;
  text-align: center;
}
main {
  background-color: white;
}
.logo {
  vertical-align: middle;
}
#tick {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: aquamarine;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  border: 1px solid aquamarine;
}
#cross {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  border: 1px solid red;
}
.bt1 {
  color: white;
  background-color: rgb(3, 157, 228);
  border: 1px solid;
  border-radius: 10%;
  padding-inline: revert;
}
.bt2 {
  color: gray;
  background-color: white;
  border: 1px solid;
  border-radius: 10%;
  padding-inline: revert;
}
.innerbox {
  width: 80%;
  margin: auto;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}
#d1 {
  font-size: x-small;
  color: white;
  border-radius: 33%;
  padding: 4px;
  background-color: rgb(50, 116, 202);
}
#d2 {
  font-size: x-small;
  color: white;
  border-radius: 33%;
  padding: 4px;
  background-color: purple;
}

#d3 {
  font-size: x-small;
  color: white;
  border-radius: 33%;
  padding: 4px;
  background-color: rgb(46, 214, 96);
}
#d4 {
  font-size: x-small;
  color: white;
  border-radius: 33%;
  padding: 4px;
  background-color: orange;
}
#d5 {
  font-size: x-small;
  color: white;
  border-radius: 33%;
  padding: 4px;
  background-color: rgb(224, 146, 159);
}
#d6 {
  font-size: x-small;
  color: white;
  border-radius: 33%;
  padding: 4px;
  background-color: rgb(123, 202, 147);
}
